{% for serviceCategory in serviceCategories %}
    {% for service in serviceCategory.services %}
        <article class="col-sm-4 service-card-wrapper">
            <div class="service-card">
                <div class="service-icon">
                    <img src="{{ service.imageUrl }}" class="img-responsive" alt="Изображение услуги">
                </div>
                <div class="service-info">
                    <h3>{{ service.title }}</h3>
                    <p class="service-category">{{ serviceCategory.title }}</p>
                    <p class="service-short-description">{{ service.shortDescription }}</p>

                    <p>
                        {#<span class="service-price">{{ service.price }} P</span>#}
                        <a class="btn btn-md btn-default pull-right" href="#" role="button">Заказать</a>
                    </p>
                </div>
            </div>
        </article>
    {% endfor %}
{% endfor %}